<!--
{
_id: doc._id,
full_name: doc.full_name,
title: doc.title,
street_address1: doc.street_address1,
street_address2: doc.street_address2,
street_city: doc.street_city,
street_state: doc.street_state,
street_zip: doc.street_zip,
street_county: doc.street_county,
street_phone: doc.street_phone,
gender: doc.gender,
specialty: doc.specialty
}
-->

<dl title="Detail">
	<dt><strong>Name</strong></dt>
	<dd>{{full_name}}, {{title}}</dd>
    <dt><strong>Specialty</strong></dt>
	<dd>{{specialty}}</dd>
	<dt><strong>Gender</strong></dt>
	<dd>{{gender}}</dd>
	<dt><strong>Address</strong></dt>
	<dd>{{street_address1}}</dd>
	<dd>{{street_address2}}</dd>
	<dt><strong>City, State</strong></dt>
	<dd>{{street_city}}, {{street_state}}</dd>
	<dt><strong>Zip</strong></dt>
	<dd>{{street_zip}}</dd>
	<dt><strong>County</strong></dt>
	<dd>{{street_county}}</dd>
	<dt><strong>Phone</strong></dt>
	<dd>{{street_phone}}</dd>
</dl>

